<template name="landing">
  <div class="col-md-8">
    This is where the graph will go
  </div>
  <div class="col-md-4">
    <div>
      {{#each activeTracker}}
        {{> tracker}}
      {{/each}}
    </div>
    <div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="newTrackerName" placeholder="New Tracker">
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-default btn-success" id="newTracker">Add Tracker</button>
      </div>
    </div>
  </div>
</template>
